include ../mixins/pic
include ../mixins/single-webpic
include ../mixins/svg
include ./logo
include ./social-links
include ./play-btn
include ./player
include ./match
include ./podcast
include ./index-video
include ./tags
include ./news-preview
include ./breadcrumps
include ./pagination
include ./video

block vars
    - var pageTitle

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title #{pageTitle} - Зенит Радио
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        link(href="css/style.min.css" rel="stylesheet")
    body.page
        include ./page-header

        .yep-wrapper(style="width: 100%")
            block content

        include ./page-footer

        block scripts
            script(src="js/isDoc.min.js")
            script(src="js/main.min.js")
            script(src="js/local.min.js")