mixin logo
    picture
        source(srcset="img/logo.svg" media="(min-width: 768px)" type="image/svg+xml")
        source(srcset="img/logo--mobile.svg" type="image/svg+xml")
        img(src="img/logo.svg" alt="На главную" width="117" height="37")&attributes(attributes)