mixin podcast({ title, img, date, isNew, isProgram })
    .podcast.labelable()
        if isNew
            span.labelable__label.labelable__label_s_sm
                | новое
        if !isProgram
            +play-btn({ iconClass: "podcast__icon" })(class="podcast__play-btn")
        .podcast__img(style=`background-image: url(img/${img})`)
        a.podcast__title(class=`${isProgram ? "podcast__title_t_program" : ""}` href="#")
            = title
        if !isProgram
            .podcast__date
                | 12 января 2021