extends ./components/_base

append vars
    - pageTitle = "Акции"

append content
    .container.container_page_inner.section
        +breadcrumps({
            items: ["Акции"]
        })

        h1.title
            | Акции

        .action-list
            - let n = 0
            while n < 4
                .action-list__item
                    .action
                        a.action__link(href="#")
                            img.action__img(src=`img/action-${Math.ceil(Math.random() * 2)}.jpg` alt="asd")
                        .action__inner
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex minus cum recusandae. Facere voluptatum neque, saepe a hic illum voluptate sapiente quibusdam aut maiores! Veritatis inventore voluptatem <a href="#">deleniti</a> atque fugit! Eveniet nulla quos necessitatibus, quaerat quae, officiis atque qui similique ex numquam tempore, consectetur corrupti suscipit perferendis aut recusandae doloremque?
                - n++

        h2.title
            | События

        .section.event-slider.swiper-container
            .event-list.list-reset.swiper-wrapper
                - let event = 0
                while event < 6
                    .event-list__item.swiper-slide
                        .event
                            img.event__img(src="img/event.jpg" alt="event" width="278" height="200")
                            .event__inner
                                .event__name
                                    a.event__link(href="#")
                                        | Фанатская заброска
                                .event__date
                                    | 31.02.21 - 31.03.21
                        - event++

    .section.container
        +pagination

append scripts
    script(src="js/swiper.5.2.0.min.js") 